/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
}
a:link {color:#3344dd}    
a:visited {color:#804180}  
a:focus {color:#b50010} 
a:hover {color:#b50010}  
a:active {color:#b50010} 
h1 {
font : 2em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 2em;
margin : 2m 0 2em 0;
line-height : 2em;
color : #000000;
text-align : center;
}
h1 span {
background : #ffffff;
padding : 1px;
}
h2 {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.25em;
line-height : 1.25em;
}
h3 {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
line-height : 1.33333333em;
}
h4, h5, h6 {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.42857143em;
line-height : 1.42857143em;
}
.node pre {
font-size : 1.4em;
margin-bottom : 1.81818182em;
background : #000000;
color : #ffffff;
overflow : auto;
}
.node ol,
.node ul {
font-size : 1.1em;
margin-left : 17.5px;
margin-bottom : 1.81818182em;
}
blockquote {
margin-left : 20px;
padding-left : 10px;
border-left : 1px dashed #000000;
}
q {
background : #ffffff;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub
font-size : 0.9em;
}
sup {
vertical-align : super;
font-size : 0.8em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 

#wrapper {
width : 970px;
margin : 10px auto;
border : 1px solid #FFA500;
}
#header {
width : 950px;
margin : 0 10px 10px 10px;
padding-top : 10px;
}
#breadcrumb {
background : url("images/breadcrumb-background.jpg") repeat-y;
font-size : 1.2em;
margin-bottom : 10px;
padding-top : 4px;
color  : black;
}
#breadcrumb .b-break {
background : white;
margin-left : 5px;
}
#breadcrumb a {
background : white;
margin-left : 5px;
padding : 0 2px 2px 2px;
}
#logo-title {
background : url("images/logo-background.jpg") repeat-y;
overflow : auto;
border-right : 2px dashed #FFA500;
}
#logo,
#logo a {
border : 0;
outline : 0;
}
#logo-title #logo {
width : 115px;
float : left;
}
#container {
width : 950px;
margin : 0 10px 10px 10px;
clear : both;
}
.one-sidebar #main {
width : 710px;
float : left;
margin-bottom : 10px;
}
.two-sidebars #main {
width : 470px;
margin : 0 10px 10px 0;
float : left;
}

/* header */

#header .block-title {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
line-height : 1.33333333em;
border-bottom : 1px solid #FFA500;
background : black;
color : white;
padding-left : 1px;
}
#header ul {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#header ul li ul {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#header .block {
margin : 2em 0 2em 0;
}
#mission {
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 20px;
border : 1px solid #FFA500;
padding : 2px;
text-align : center;
}
#site-slogan {
font : 1.3em Helvetica, "Helvetica Neue", Arial, sans-serif; 
width : 390px;
}
#container #main #main-squeeze #content #content-content ul {
margin-left : 15px;
}
#container #main #main-squeeze #content #content-content li {
font-size : 1.2em;
line-height : 1.66666667em;
}
#main #main-squeeze #content #content-content .node ul.links li {
font-size : 1em!important;
}
#main .node .content img {
float : left;
margin : 5px 5px 5px 0;
}

/* Primary Menu */

#primary {
clear : both;
margin-bottom : 20px;
}
#primary ul.links {
display : inline;
width : 100%;
}
#primary ul li {
border-left : 1px solid #FFA500;
}
#primary ul.links {
margin-top : 1em;
font-size : 1.2em;
display :block;
float : right;
text-align : right;
}

/* Secondary Menu */

#secondary {
clear : both;
margin-bottom : 20px;
}
#secondary a {
font-family : Verdana, Tahoma, Geneva, sans-serif;
}
#secondary ul.links {
display : inline;
width : 100%;
}
#secondary ul li {
border-left : 1px solid #FFA500;
}
#secondary ul.links {
margin-top : 1em;
font-size : 1.2em;
display :block;
float : right;
text-align : right;
}

/* Search */

#search {
margin-top : 20px;
text-align : right;
clear : both;
}
#search input {
border : 1px solid #4B0082;
}
#search label {
font-size : 1.1em;
font-weight : normal;
}
#search-form {
font-size : 1.2em;
}
#search-form label {
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}
#search-form input {
border : 1px solid #4B0082;
}
#search-block-form {
text-align : right;
}
#search-block-form input {
border : 1px solid #4B0082;
margin-bottom : 1px;
}
#search-block-form label {
font-size : 1.1em;
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
}

/* Search Results*/

.search-results {
font-size : 1.3em;
}
.search-results .search-snippet {
margin-bottom : 1.53846154em;
margin-top : 1.53846154em;
}

/* Front */

.front .node-title a {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
line-height : 1.25em;
}
.front .node .content {
margin-top: 1.66666667em;
}
.front .node p{
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 1.66666667em;
padding-right : 2px;
}
.front #main #main-squeeze #content #content-content .node .content ul {
margin-bottom : 1.66666667em;
margin-left : 15px;
}
.front #main #main-squeeze #content #content-content .node .content ul li {
font-size : 1.2em;
line-height : 1.66666667em;

}

.front .submitted {
font-size : 1.2em;
line-height : 1.66666667em;
background : #cccccc;
color : black;
padding: 1px;
}
.front .submitted a {
background : white;
}
.front .submitted a:link {color:#3344dd}    
.front .submitted a:visited {color:#804180}  
.front .submitted a:focus {color:#b50010} 
.front .submitted a:hover {color:#b50010}  
.front .submitted a:active {color:#b50010} 
.front .node {
margin-bottom : 1.66666667em;
}
.front .comment_add {
font-size : 1.2em;
padding : 0;
}
.front .node li.comment_add {
padding : 0 2px 0 0;
margin : 0;
}
.front .meta .terms ul.links {
margin-top : 1em;
font-size : 1.2em;
display :block;
width : 200px;
float : right;
text-align : right;
}
.front ul.links {
font-size : 1.2em;
}
.front .node {
clear : both;
border-bottom : 1px solid #FFA500;
padding-bottom : 1em;
border-right : 1px dashed #4B0082;
}
.front .links .node_read_more,
.front .links .comment_add {
font-size : 1em;
}

/* Not front */

.not-front .node-title a {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
line-height : 1.25em;
}
.not-front .node .content {
margin-top: 1.66666667em;
}
.not-front .node p{
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 1.66666667em;
padding-right : 2px;
}
.not-front #main #main-squeeze #content #content-content .node .content ul {
margin-bottom : 1.66666667em;
margin-left : 15px;
}
.not-front #main #main-squeeze #content #content-content .node .content ul li {
font-size : 1.2em;
line-height : 1.66666667em;

}
.not-front .node {
clear : both;
border-bottom : 1px solid #FFA500;
padding-bottom : 1em;
border-right : 1px dashed #4B0082;
}
.not-front .submitted {
font-size : 1.2em;
line-height : 1.66666667em;
background : #cccccc;
color : black;
padding: 1px;
}
.not-front .submitted a {
background : white;
}
.not-front .submitted a:link {color:#3344dd}    
.not-front .submitted a:visited {color:#804180}  
.not-front .submitted a:focus {color:#b50010} 
.not-front .submitted a:hover {color:#b50010}  
.not-front .submitted a:active {color:#b50010} 
.not-front .node {
margin-bottom : 1.66666667em;
}
.not-front .comment_add {
font-size : 1.1em;
padding : 0;
}
.not-front .node li.comment_add {
padding : 0 2px 0 0;
margin : 0;
}
.not-front .meta ul.links {
margin-top : 1em;
font-size : 1.2em;
display :block;
width : 200px;
float : right;
text-align : right;
}
.not-front ul.links {
font-size : 1.2em;
}
.not-front .taxonomy-term-description {
font-size : 1.1em;
}

/* Content Modules */

#content .block {
margin-bottom : 2em;
font-size : 1.3em;
}
#content .block-title {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
margin-top : 1.33333333em;
line-height : 1.33333333em;
border-bottom : 1px solid #FFA500;
background : black;
color : white;
padding-left : 1px;
}
#content .block ul {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#content ul li {
list-style-type : square;
}
#content .block ul li ul {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* comment form */

#comment-form {
font-size : 1.2em;
}
#comment-form label {
margin-bottom : 2px;
font-weight : normal;
border-left: 2px solid #FFA500;
padding-left : 5px;
margin-bottom : 5px;
}
#comment-form input,
#comment-form textarea {
border : 1px solid #4B0082;
}
#comment-form .form-radio {
border : none;
}
#comment-form a,
#comment-form .fieldset-wrapper{
margin-bottom : 1.66666667em;
}
#comment-form li {
margin-top : 2px;
font-size : 1.2em;
}

/* comments */

#comments .comment-title {
font-size : 1.4em;
}
#comments .submitted {
margin-bottom : 1.66666667em;
margin-top : 1.42857143em;
}
#comments p {
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 1.66666667em;
padding-right : 2px;
}
.comment {
margin-bottom : 1em;
}
.comment p {
font-size : 1.1em;
}
.comment .submitted {
margin-bottom : 1.66666667em;
margin-top : 1.42857143em;
}
.comment .comment-title {
font-size : 1.4em;
}
#comment-confirm-delete {
font-size : 1.2em;
}
#comment-confirm-delete input {
border  : 1px solid #FFA500;
background : white;
margin : 1em 1em 0 0;
}

/* box */

.box .box-title {
font-size : 1.2em;
margin-bottom : 1.53846154em;
}
.box ul li{
margin-left : 20px;
font-size : 1.3em;
line-height : 1.53846154em;
}

/* Tracker  recent posts */

#tracker {
font-size : 1.2em;
line-height : 1.66666667em;
}

/* Compose tips 
*/

#content ul .tips {
list-style-type : none;
}
#content ul .tips p {
margin-bottom : 1.66666667em;
line-height : 1.66666667em;
}
#content ul li strong{

}
#filter-filter-0  {
overflow : auto;
}
#filter-filter-0 code {
font-size : 1.2em;
}

/* Contact mail page */

#contact-mail-page label {
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}

/* Node edit form */

#node-form label,
#node-form select{
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 10px;
}
#node-form .collapsed a{
font-size : 1.4em;
line-height : 1.66666667em;
margin-bottom : 10px;
}
#node-form .collapsible,
#node-form .collapsible a{
font-size : 1.1em;
margin-bottom : 10px;
}
#node-form .form-radio,
#node-form .form-checkbox{
border : none;
}
#node-form label {
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}
#node-form .description {
font-size : 1.2em;
line-height : 1.66666667em;
}
#node-form input,
#node-form textarea{
border : 1px solid #4B0082;
}
#content .node-type-list {
font-size : 1.2em;
line-height : 1.66666667em;
}

/* Pagination */

.pager {
font-size : 1em;
border-left : 2px dotted #FFA500;
border-right : 2px dotted #FFA500;
}
#sidebar-left {
background : url("images/left-sidebar-background.jpg") repeat-y;
width : 229px;
margin : 0 10px 10px 0;
float : left;
border-right : 1px dashed #4B0082;
}
#sidebar-left .block {
margin-bottom : 2em;
}
#sidebar-left .block-title {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
line-height : 1.33333333em;
border-bottom : 1px solid #FFA500;
background : black;
color : white;
padding-left : 1px;
}

/* Left sidebar navigation */

#sidebar-left ul {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#sidebar-right ul li {
list-style-type : square;
}
#sidebar-left ul li ul {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* Log-in form*/

#user-login-form input {
border : 1px solid #4B0082;
}
#user-login-form label {
float : left;
width : 100px;
font : 1.2em Verdana, Tahoma, Geneva, sans-serif;
}
#user-login-form .form-submit {
margin-bottom : 1em;
}
#user-login-form ul li {
list-style-type : square;
font-size : 1.1em;
}

/* user profile form */

#user-profile-form .description,
#user-profile-form label,
#user-profile-form legend,
#user-profile-form th,
#user-profile-form select{
font-size : 1.2em;
line-height : 1.66666667em;
font-weight : normal;
}
#user-profile-form input {
border : 1px solid #4B0082;
}
#sidebar-right {
width : 230px;
margin-bottom : 10px;
float : left;
}
#sidebar-right .block {
margin-bottom : 2em;
}
#sidebar-right .block-title {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
line-height : 1.33333333em;
border-bottom : 1px solid #FFA500;
background : black;
color : white;
padding-left : 1px;
}

/* Rightsidebar navigation */

#sidebar-right ul {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#sidebar-right ul li {
list-style-type : circle;
}
#sidebar-right ul li ul {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* forum */

#forum table{
font-size : 1.3em;
width : 100%;
border-top : 1px solid #4B0082;
}

/* Poll */

.poll {
font-size : 1.2em;
}
.poll input {
border : 1px solid #4B0082;
}

/* User register */

#user-register {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-register label {
font-weight : normal;
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}
#user-register input {
border : 1px solid #4B0082;
}

/* User login */

#user-login {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-login label {
font-weight : normal;
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}
#user-login input {
border : 1px solid #4B0082;
}

/* Request new password */

#user-pass {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-pass label {
font-weight : normal;
font-weight : normal;
border-left : 1px solid #FFA500;
padding-left : 3px;
margin-bottom : 5px;
}
#user-pass input {
border : 1px solid #4B0082;
}

/* Universal */

#content .tabs a {
font-size : 1.2em;
line-height : 1.66666667em;
}
.messages {
margin-top : 20px;
margin-bottom : 20px;
padding : 5px;
text-align : center;
font-size : 1.4em;
color : black;
border : 1px solid #FFA500;
}
#content .profile {
font-size : 1.2em;
line-height : 1.66666667em;
}
#contact-mail-user {
font-size : 1.2em;
line-height : 1.66666667em;
}
#contact-mail-page {
font-size : 1.2em;
line-height : 1.66666667em;
}
.more-link {
font-size : 1.2em;
}

/* footer */

#footer .block-title {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.33333333em;
line-height : 1.33333333em;
border-bottom : 1px solid #FFA500;
background : black;
color : white;
padding-left : 1px;
}
#footer ul {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#footer ul li ul {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#footer .block {
margin : 2em 0 2em 0;
}
#footer {
width : 950px;
margin : 0 10px 0 10px;
clear : both;
border-top : 1px solid black;
}
#footer-message {
font-size : 1.1em;
line-height : 1.81818182em;
margin-bottom : 1.81818182em;
text-align : center;
}
#designer {
clear : both;
text-align : center;
font-size : 1.1em;
margin : 0 5px 5px 0;
}
.help {
font-size : 1.2em;
line-height : 1.66666667em;
}

/* Administration section */

#switchtheme-switch-form {
text-align : center;
font-size : 1.3em;
}
#switchtheme-submit,
#edit-theme {
border : 1px solid #4B0082;
}

#first-time  {
font-size : 1.2em;
line-height : 1.66666667em;
margin-left : 20px;
}
#admin-wrapper #container #main{
font-size : 1.2em;
line-height : 1.66666667em;
}
#admin-wrapper #container #main .help {
font-size : 1em;
}
#admin-wrapper #container #main .description {
font-size : 1em;
}
#admin-wrapper #container #main .block {
font-size : 1em;
}